3rdparty/ccls
3rdparty/ccls-99f0b40-linux-x64
3rdparty/ccls-99f0b40-darwin
3rdparty/node*
3rdparty/nvim*
3rdparty/coc
3rdparty/fzf
config/.user.hotkeys
config/.user.nvi.vimrc
config/.user.plugins
config/.user.theme
config/.user.vimrc
temp
autoload
plugged
