3rdparty/node*
3rdparty/nvim*
3rdparty/coc
3rdparty/fzf
bin/nvi
config/.user.hotkeys
config/.user.nvi.vimrc
config/.user.plugins
config/.user.theme
config/.user.vimrc
config/init.vim
temp
autoload
plugged
